//File: _variables-profile.scss
// 研究日誌 1
// 自製自己的主題 blue ,以下從 root_ [data-bs-theme="light"] 而來
// 使用
// // @import "./helpers/variables";
// // @import "./helpers/variables-profile";

// // '<div data-bs-theme="rofile">
// // <div class="text-primary ">text</div> ' 就可以替換掉顏色，

// 但有些問題 TODO 
// 1.是 theme-colors 變數必須替換掉成 新命名，不能直接換掉嗎？？？？這樣會讓很多自動生成的失敗...網上也有相同提問 override issue
//-> 找到原因了 在$theme-colors 最後有一個`!default` 要刪除！！！！->另外新增一個整理過後的 variables-about.scss 試試看
// [已解]2. $themes-colors-rgb:  設定必須是 red 的 rgb ? 該如何自動轉換？[已解] 可以利用 to-rgb($red),
// [最佳解] 利用$profile-colors-rgb: map-loop($profile-colors, to-rgb, "$value") !default; 即可。

// 3. 跟第一點一樣，有一些變數定義需要自己產生，目前都先暫時 marked 掉
// 失敗嚐試作法 以下程式碼放進＿root.scss 也沒用
// 4. 加入 !default？ ->  $black:#362F2F ; !default; 反而沒生效 黑色還是$000，回到第一點 似乎是原因

//這檔案留有研究過程，另外新增一個整理過後的 variables-about.scss 試試看。 

@import "node_modules/bootstrap/scss/mixins";

[data-bs-theme="profile"] {
  
  // Note: Custom variable values only support SassScript inside `#{}`.
  $primary:#DD8560 ;
  $secondary:#A37875;
  $black:#362F2F ;
  $gray:#595555;

$colors : ( //無法覆蓋
  "blue":       $blue ,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black ,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

$profile-colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray,
  "gray-dark":  $gray-800
) !default;

//from _maps.scss rgb 的顏色生成只要用這句就好，不用像下面 profile-theme-colors-rgb 列這麼長
$profile-colors-rgb: map-loop($profile-colors, to-rgb, "$value") !default;


$profile-theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

) !default;


$theme-colors: ( //FIXME 這樣不會覆蓋
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

) !default;

//自己暫時新增
$profile-theme-colors-rgb: ( 
  "primary":    to-rgb($primary),
  "secondary":   to-rgb($secondary),
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

) !default;
  // Colors
  //
  // Generate palettes for full colors, grays, and theme colors.
  //from root.scss 預設是 theme-colors 但無法取代？？？

  @each $color, $value in $colors {//同樣$colors 無法被覆蓋 ->debug 可以看到還是生成原本的變數
    --#{$prefix}#{$color}: #{$value};
  }
  @each $color, $value in $profile-colors {//同樣$colors 無法被覆蓋 改成自己擁有的 ＄profile-colors 成功
    --#{$prefix}#{$color}: #{$value};
  }
  //新增 rgb 生成
  @each $color, $value in $profile-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }

  // @each $color, $value in $grays {
  //   --#{$prefix}gray-#{$color}: #{$value};
  // }

  @each $color, $value in $profile-theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $profile-theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }

  //from button.scss 預設是 theme-colors 但無法取代？
  @each $color, $value in $profile-theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }
  // @each $color, $value in $theme-colors-text {
  //   --#{$prefix}#{$color}-text-emphasis: #{$value};
  // }

  // @each $color, $value in $theme-colors-bg-subtle {
  //   --#{$prefix}#{$color}-bg-subtle: #{$value};
  // }

  // @each $color, $value in $theme-colors-border-subtle {
  //   --#{$prefix}#{$color}-border-subtle: #{$value};
  // }

  // --#{$prefix}white-rgb: #{to-rgb($white)};
  // --#{$prefix}black-rgb: #{to-rgb($black)};

  // // Fonts

  // // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  // --#{$prefix}font-sans-serif: #{inspect($font-family-sans-serif)};
  // --#{$prefix}font-monospace: #{inspect($font-family-monospace)};
  // --#{$prefix}gradient: #{$gradient};

  // // Root and body
  // // scss-docs-start root-body-variables
  // @if $font-size-root != null {
  //   --#{$prefix}root-font-size: #{$font-size-root};
  // }
  // --#{$prefix}body-font-family: #{inspect($font-family-base)};
  // @include rfs($font-size-base, --#{$prefix}body-font-size);
  // --#{$prefix}body-font-weight: #{$font-weight-base};
  // --#{$prefix}body-line-height: #{$line-height-base};
  // @if $body-text-align != null {
  //   --#{$prefix}body-text-align: #{$body-text-align};
  // }

  // --#{$prefix}body-color: #{$body-color};
  // --#{$prefix}body-color-rgb: #{to-rgb($body-color)};
  // --#{$prefix}body-bg: #{$body-bg};
  // --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};

  // --#{$prefix}emphasis-color: #{$body-emphasis-color};
  // --#{$prefix}emphasis-color-rgb: #{to-rgb($body-emphasis-color)};

  // --#{$prefix}secondary-color: #{$body-secondary-color};
  // --#{$prefix}secondary-color-rgb: #{to-rgb($body-secondary-color)};
  // --#{$prefix}secondary-bg: #{$body-secondary-bg};
  // --#{$prefix}secondary-bg-rgb: #{to-rgb($body-secondary-bg)};

  // --#{$prefix}tertiary-color: #{$body-tertiary-color};
  // --#{$prefix}tertiary-color-rgb: #{to-rgb($body-tertiary-color)};
  // --#{$prefix}tertiary-bg: #{$body-tertiary-bg};
  // --#{$prefix}tertiary-bg-rgb: #{to-rgb($body-tertiary-bg)};
  // // scss-docs-end root-body-variables

  // --#{$prefix}heading-color: #{$headings-color};

  // --#{$prefix}link-color: #{$link-color};
  // --#{$prefix}link-color-rgb: #{to-rgb($link-color)};
  // --#{$prefix}link-decoration: #{$link-decoration};

  // --#{$prefix}link-hover-color: #{$link-hover-color};
  // --#{$prefix}link-hover-color-rgb: #{to-rgb($link-hover-color)};

  // @if $link-hover-decoration != null {
  //   --#{$prefix}link-hover-decoration: #{$link-hover-decoration};
  // }

  // --#{$prefix}code-color: #{$code-color};
  // --#{$prefix}highlight-color: #{$mark-color};
  // --#{$prefix}highlight-bg: #{$mark-bg};

  // // scss-docs-start root-border-var
  // --#{$prefix}border-width: #{$border-width};
  // --#{$prefix}border-style: #{$border-style};
  // --#{$prefix}border-color: #{$border-color};
  // --#{$prefix}border-color-translucent: #{$border-color-translucent};

  // --#{$prefix}border-radius: #{$border-radius};
  // --#{$prefix}border-radius-sm: #{$border-radius-sm};
  // --#{$prefix}border-radius-lg: #{$border-radius-lg};
  // --#{$prefix}border-radius-xl: #{$border-radius-xl};
  // --#{$prefix}border-radius-xxl: #{$border-radius-xxl};
  // --#{$prefix}border-radius-2xl: var(--#{$prefix}border-radius-xxl); // Deprecated in v5.3.0 for consistency
  // --#{$prefix}border-radius-pill: #{$border-radius-pill};
  // // scss-docs-end root-border-var

  // --#{$prefix}box-shadow: #{$box-shadow};
  // --#{$prefix}box-shadow-sm: #{$box-shadow-sm};
  // --#{$prefix}box-shadow-lg: #{$box-shadow-lg};
  // --#{$prefix}box-shadow-inset: #{$box-shadow-inset};

  // // Focus styles
  // // scss-docs-start root-focus-variables
  // --#{$prefix}focus-ring-width: #{$focus-ring-width};
  // --#{$prefix}focus-ring-opacity: #{$focus-ring-opacity};
  // --#{$prefix}focus-ring-color: #{$focus-ring-color};
  // // scss-docs-end root-focus-variables

  // // scss-docs-start root-form-validation-variables
  // --#{$prefix}form-valid-color: #{$form-valid-color};
  // --#{$prefix}form-valid-border-color: #{$form-valid-border-color};
  // --#{$prefix}form-invalid-color: #{$form-invalid-color};
  // --#{$prefix}form-invalid-border-color: #{$form-invalid-border-color};
  // scss-docs-end root-form-validation-variables
}